@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .container .markdown-article {
        @apply lg:mx-24
    }
    .container .markdown-article img {
        @apply lg:mx-auto block
    }

    .full-screen {
        height: 100vh;
        width: 100vh;
    }

    .scroll-snap-x-proximity {
        scroll-snap-type: x proximity;
    }

    .scroll-snap-x-mandatory {
        scroll-snap-type: x mandatory;
    }

    .scroll-snap-y-proximity {
        scroll-snap-type: y proximity;
    }

    .scroll-snap-y-mandatory {
        scroll-snap-type: y mandatory;
    }
    
    .scroll-snap-start {
        scroll-snap-align: start;
    }

    .scroll-snap-center {
        scroll-snap-align: center;
    }

    .scroll-snap-end {
        scroll-snap-align: end;
    }

    .embed-video {
        @apply aspect-w-16 aspect-h-9 justify-self-center self-center place-self-center
    }

}

@layer components {
    .card-common {
        @apply shadow-lg rounded-lg bg-white dark:bg-gray-800
    }
    .about-card {
        @apply p-8 m-2 
    }
    .link-common {
        @apply hover:text-black focus:text-black hover:bg-gray-200 focus:bg-yellow-300 rounded-md 
        dark:text-blue-500 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:text-black
    }
    .tag {
        @apply text-sm font-bold text-green-500 dark:text-green-400
    }
}

@layer base {
    h1 {
        @apply text-2xl py-1 font-bold font-serif;
    }
    h2 {
        @apply text-xl py-1 font-bold font-serif;
    }
    h3 {
        @apply text-lg py-1 font-bold font-serif;
    }
    a {
        @apply  hover:text-black focus:text-black hover:bg-gray-200 focus:bg-yellow-300 rounded-md p-0.5 text-blue-700
        dark:text-blue-400 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:text-black transition ease-linear font-sans
    }
    p a {
        @apply rounded-none focus:border-black focus:border-b-2
    }
    p {
        @apply block my-4 font-sans
    }
    p a {
        @apply px-1 inline rounded-sm
    }

    ul {
        @apply block list-disc my-4
    }
    ol {
        @apply block list-decimal my-4 pl-10
    }
    li {
        @apply list-item
    }
    code {
        @apply font-mono
    }
}

