@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .container .markdown-article {
        @apply lg:mx-24
    }
    .container .markdown-article img {
        @apply lg:mx-auto block
    }

    .notification p {
        @apply text-sm font-medium leading-relaxed my-2
    }

    .full-screen {
        height: 100vh;
        width: 100vh;
    }

    .embed-video {
        @apply aspect-w-16 aspect-h-9 justify-self-center self-center place-self-center
    }
}

@layer components {
    .card-common {
        @apply shadow-lg rounded-lg bg-white dark:bg-gray-800
    }
    .about-card {
        @apply p-8 m-2 
    }
    .link-common {
        @apply hover:text-black focus:text-black hover:bg-gray-200 focus:bg-yellow-300 rounded-md 
        dark:text-blue-500 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:text-black
    }
    .tag {
        @apply text-sm font-medium text-green-700 dark:text-green-400
    }
    input[type = checkbox] {
        display: none;
    }
    input+label {
        @apply flex justify-center items-center w-8 h-8 rounded-full text-gray-600 dark:text-gray-300 cursor-pointer p-1.5 text-center text-sm self-center
    }
    input + label:hover {
        @apply bg-gray-200 text-black dark:bg-gray-600 dark:text-white
    }
    input#darkModeToggle + label:after {
    content: " ☀️ ";
    }
    input#darkModeToggle:checked + label:after {
    content: "🌙";
    }
}

@layer base {
    h1 {
        @apply text-2xl font-extrabold font-serif antialiased sm:subpixel-antialiased md:antialiased;
    }
    h2 {
        @apply text-xl font-extrabold font-serif antialiased sm:subpixel-antialiased md:antialiased;
    }
    h3 {
        @apply text-lg font-extrabold font-serif antialiased sm:subpixel-antialiased md:antialiased;
    }
    a {
        @apply  hover:text-black focus:text-black hover:bg-gray-200 focus:bg-yellow-300 rounded-md p-0.5 text-blue-700
        dark:text-blue-400 dark:hover:bg-gray-600 dark:hover:text-white hover:bg-opacity-50 dark:focus:text-black transition ease-linear font-sans antialiased sm:subpixel-antialiased md:antialiased
    }
    p a {
        @apply rounded-none focus:border-black focus:border-b-2
    }
    p {
        @apply block my-6 font-sans text-base leading-relaxed font-medium antialiased sm:subpixel-antialiased md:antialiased
    }
    p a {
        @apply px-1 inline rounded-sm
    }

    ul {
        @apply block list-disc my-4 pl-10
    }
    ol {
        @apply block list-decimal my-4 pl-10
    }
    li {
        @apply list-item
    }
    code {
        @apply font-mono font-normal antialiased sm:subpixel-antialiased md:antialiased
    }
    blockquote {
        @apply ml-4 pl-4 border-l-4 border-gray-700 dark:border-gray-300
    }

    blockquote p {
        @apply italic font-serif text-gray-700 dark:text-gray-300
    }

    html {
        @apply scroll-smooth
    }
}

